{% extends 'todoapp/base.html' %}

{% block content %}
  {% if error %}
    <div class="alert alert-warning">
      <strong>Error!</strong> {{error}}
    </div>
  {% endif %}

<div class="container">
  <h1 id="login-header">Login</h1>
    <form method="POST" action="/login">
      {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6">
            <img src="https://i.imgur.com/RHoO5ePl.jpg" class="img-responsive col-sm-12" id="machine">
          </div>
          <div class="form-group col-md-6">
            <label for="inputUsername">Username:</label>
            <input type="text" class="form-control" placeholder="bubbles">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPassword">Password:</label>
            <input type="password" class="form-control" placeholder="********">
            <input type="submit" value="Login" class="btn btn-info" id="login">
          </div>
        </div>
    </form>

{% endblock %}
