{% extends 'todoapp/base.html' %}

{% block content %}
<div>
 <form>
  <div class="form-row">
    <div class="form-group col-md-6  credit">
      <label for="inputEmail4">Credit Card Number</label>
      <input type="number" class="form-control" id="inputEmail4" placeholder="Credit Card Number">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Name on Card</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Name">
    </div>
  </div>
</div>
  <div class="form-row">
  <div class="form-group col-md-8">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
</div>
  <div class="form-group col-md-8">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div> 
</form>
</div>
<div>
<button type="submit" class="btn btn-primary credit-button">Submit</button>
</div>
{% endblock %}