{% extends 'todoapp/base.html' %}

{% block content %}

<h1 class="text-center">Reserved Machine:</h1>
<h2 class="text-center"> Washer # 1</h2>
<!-- <div class="row"> -->
  <div class="id="start">
     <p class="text-center" id="timer">0 0 : 3 0</p>  
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-12 col-md-6">
        <h3>Username: Test User </h3>
        <input type="submit" name="unlock" value="Unlock" class="btn btn-info">
        <input type="submit" name="cancel" value="Cancel" class="btn btn-danger">
      </div>
    </div>
</div>
<!-- </div> -->

{% endblock %}