body {
  font-family: 'Nunito', sans-serif;
  background-color: #6F33B6;
  color: white;
}

/*.credit{
	right: 15px;
}
*/

#start {
  background-color: white;
  margin-top: 200px;
  width: 100px: 
  height: 100px;
  color: black;
}

#timer {
  font-size: 50px;
  margin-top: 50px;
}
.credit-button{
	text-align: center;
}

.reservations{
  /*width: 600px;*/
  margin-bottom: 300px;
}

.table {
  /*border: 1px solid black;*/
  border-radius: 8px;
}

#reservations {
  /*border: 1px solid black;*/
  border-radius: 8px;
  margin-bottom: 300px;
}

td, tr, th {
  padding: 30px !important;
  color: black !important;
  font-family: 'Nunito', sans-serif;

}

th {
  font-size: 18px;
}

.home-header {
  margin-bottom: 40px;
}