body {
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: #8EBECC;
 
}


/*.credit{
	right: 15px;
}
*/

/*.login-page{
	left: 500px;
}*/


.credit-button{
	text-align: center;
}

.todo-list{
  /*border: 1px solid black;*/
  /*border-radius: 8px;*/
  /*width: 600px;*/
  margin-bottom: 300px;
}