body {
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: #8EBECC;
}

#unlock {
  margin-right: 10px;
}

#start {
  margin-right: 10px;
}

#user{
  margin-bottom: 40px !important;
}

.cycle {
  background-color: white;
  margin-top: 200px;
  width: 100px: 
  height: 100px;
  color: gray;
}

.login {
  background-image: url("./blue.png");
  background-repeat: no-repeat;
}

#login-header {
  margin-bottom: 50px;
}

#login {
  margin-top: 25px;
}

#machine {
  border-radius: 30px;
}

#timer {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.credit-button{
	text-align: center;
  display: block;
  margin: auto;
}

#inputState {
  margin-bottom: 25px;
}

.reservations{
  /*width: 600px;*/
  margin-bottom: 300px;
}

.table {
  /*border: 1px solid black;*/
  border-radius: 8px;
}

#reservations {
  /*border: 1px solid black;*/
  border-radius: 8px;
  margin-bottom: 300px;
}

td, tr, th {
  padding: 30px !important;
  color: black !important;
  font-family: 'Nunito', sans-serif;
}

th {
  font-size: 18px;
}

.home-header {
  margin-bottom: 40px;
}